body
  min-width 1280px
  overflow-x auto
  //overflow-y hidden
  font-size 12px
  font-family "Microsoft YaHei", '微软雅黑', '宋体', 'SimSun', Arial, sans-serif, "Helvetica Neue", Helvetica, "Hiragino Sans GB"

table
  border-spacing 0
  border-collapse collapse

*
  box-sizing border-box

ul
ol
  list-style none
